<style>
.masthead,
.masthead__inner-wrap,
.greedy-nav {
  background-color: #3d4d24;
}

.masthead__inner-wrap a,
.masthead__inner-wrap .site-title,
.greedy-nav a,
.greedy-nav button {
  color: #fff;
}

.greedy-nav .visible-links a:before {
  background: #fff;
}

.greedy-nav .hidden-links a {
  color: #3d4d24;
}

.page__footer {
  background-color: #3d4d24;
}

.page__footer-copyright,
.page__footer a,
.page__footer-follow .social-icons a,
.page__footer-follow .social-icons i {
  color: #fff;
}
</style>